@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body, .inforAvatar p, .mensagesPerson2:nth-child(3), .mensagesPrice h2{
    margin: 0;
}
body, input{
    font-family: "Rubik", sans-serif;
}
body{
    padding: 0;
    font-size: 1em;
    background: white;
}

main{
    margin-top: 5em;
    margin-left: 22.2em;
    display: flex;
    align-items: center;
}

.back{
    position: absolute;
    display: block;
    width: 31.25em;
    height: 70em;
    border-radius: 18.75em;
    top: -28em;
    left: -5em;
    z-index: -1;
    background: linear-gradient(45deg, #8B3BFE, #E244FF);
}
.phone{
    width: 270px;
    padding: .5em;
    background: white;
    border-radius: 1.5em;
    flex: 0 0 1;
    box-shadow: 10px 15px 80px rgba(0, 0, 0, 0.205);
}
.articleAvatar, .headerPhone, .articleDogs, .chatScreen section:nth-child(2), .mensagesPrice nav, .mensagesPrice span{
    display: flex;
}
.headerPhone, .mensagesPrice, .mensagesPrice span{
    align-items: center;
}
.headerPhone{
    position: relative;
    padding: 2.2em 0 1em 0;
    border-radius: 1em 1em .5em .5em;
    background: linear-gradient(to right, #8B3BFE, #E244FF);
}
.articleAvatar img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: white;
    padding: 1px;
    margin-right: .57em;
}
.articleAvatar{
    margin-right: 4.7em;
}
.inforAvatar p{
    color: white;
}
.inforAvatar p:last-child{
    color: #c5c5c5;
    font-size: .7em;
}
.backPhone, span[class^="ball"], .cut{
    display: block;
}
.backPhone{
    border: 3px solid white;
    width: 1px;
    height: 1px;
    border-right: none;
    border-top: none;
    padding: 3px;
    border-radius: .1em;
    transform: rotate(42.5deg);
    margin: 0 .44em 0 .82em;
}
span[class^="ball"]{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}
span[class^="ball"]:not(:last-child){
    margin-bottom: .2em;
}
.cut{
    position: absolute;
    background: white;
    top: 0;
    left: 20%;
    width: 10em;
    height: 1.25em;
    border-end-start-radius: 2em;
    border-end-end-radius: 2em;
}
.chatScreen{
    background: #F5F3F8;
    font-size: .7em;
    border-top: 1px solid transparent;
    border-end-start-radius: 2em;
    border-end-end-radius: 2em;
    padding-bottom: 1em;
}
article[class^="mensages"]{
    max-width: 160px;
    padding: .7em;
    margin: 1em 0;
}
.mensagesPerson1{
    border-radius: 1em 1em 1em .5em;
    background: #EDE5F4;
    color: #8B3BFE;
}
.mensagesPerson2{
    border-radius: 1em 1em .5em 1em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.144);
    background: white;
    color: hsl(271, 15%, 43%);
}
.mensagesPerson2:nth-child(3){
    position: relative;
    right: -40%;
    width: fit-content;
}
img[class^="dog"]{
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin-right: 1em;
}
.articleDogs, .chatScreen section:nth-child(2){
    justify-content: end;
}
.mensagesPriceSection{
    flex-direction: column;
}
.mensagesPriceSection article{
    margin: .5em 0;
    padding: 1em 2em 1em 1em;
}
.mensagesPrice{
    color: white;
    border-radius: 1em 1em 1em .5em;
    background: linear-gradient(to left, #8B3BFE, #E244FF);
}
.mensagesPrice nav{
    justify-content: space-between;
}
.priceBall{
    padding: .5em;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    margin-right: 1em;
}
input{
    border: none;
    background: white;
    outline: none;
    width: calc(98% - 3em);
}
.buttonSubmitMessage{
    cursor: pointer;
    border-radius: 50%;
    background: #422854;
    padding: calc(.8em + .57px) calc(.8em + 2.07px);
}
.submitMessage{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: .2em;
    border: 3px solid white;
    border-bottom: none;
    border-left: none;
    transform: translate(-1px, 2px) rotate(45deg);
}
.sectionInputSubmit{
    margin-top: .7em;
    position: relative;
    left: 3%;
    width: 90%;
    background: white;
    padding: 1em .3em 1em 1em;
    border-radius: 20px;
}
section>.mensagesPerson1, .mensagesPriceSection{
    margin-left: 1em;
}
.part2{
    margin-left: 7.7em;
    max-width: 450px;
}
h1{
    font-weight: 500;
    color: #362049;
    font-size: 40px;
}
p, input::placeholder{
    color: #AEABB0;
}
p{
    line-height: 1.5em;
}

@media (max-width: 1190px) {
    main{
        margin-left: 20%;
    }
}
@media (max-width: 1090px) {
    main{
        margin-left: 10%;
    }
}
@media (max-width: 960px) {
    main{
        display: flex;
    }
    .part2{
        margin-left: 2em;
    }
    .back{
        left: -10em;
    }
}
@media (max-width: 860px) {
    main{
        margin-left: 2em;
    }
    .back{
        top: -25em;
        left: -15em;
    }
    .part2{
        margin-left: 3em;
    }
    p{
        max-width: 300px;
    }
}
@media (max-width: 680px) {
    main{
        display: block;
        margin-top: 2em;
    }
    .back{
        left: -15em;
        top: -35em;
    }
    main>section, .part2{
        margin: auto;
    }
    p{
        text-align: center;
    }
    .phone{
        transform: translateX(-10%);
    }
    .part2{
        position: relative;
        left: 18%;
        display: inline-block;
        margin-bottom: 3em;
    }
}
@media (max-width: 560px) {
    .part2{
        left: 10%;
    }
}
@media (max-width: 460px) {
    .part2{
        left: 10%;
    }
    .phone{
        margin-left: 15%;
    }
    p{
        margin-left: -1em;
    }
}
@media (max-width: 390px) {
    .part2{
        margin-left: -2em;
    }
    .phone{
        margin-left: 2em;
    }
}
@media (max-width: 360px) {
    .phone{
        transform: scale(.9);
        margin-left: -.7em;
    }
    .part2{
        text-align: center;
        margin-left: -2em;
    }
    h1{
        transform: translateX(-10px);
        font-size: 35px;
    }
    p{
        font-size: .9em;
    }
}
@media (max-width: 335px) {
    main{
        margin: 0 0 0 1.5em;
        display: inline-block;
    }
    .phone{
        margin-left: -1.5em;
    }
    .part2{
        margin-left: -3em;
        margin-top: -1em;
        margin-bottom: 0;
    }
    h1{
        margin: .3em auto .3em .7em;
    }
    p{
        font-size: .7em;
        max-width: 22em;
        margin: auto;
    }
}